.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.buy-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #7289DA;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.buy-btn:hover {
  background-color: #5e6fcf;
}

.note {
  color: red;
  text-align: center;
}



.powered-by-text {
  color: gray;
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}


.hhh-text {
  color: darkblue;
  font-weight: bold;
}

.hhh-text:last-of-type {
  color: cyan;
}

.subscribe-button {
display: inline-block;
outline: 0;
cursor: pointer;
border-radius: 8px;
box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
background: #FFD814;
border: 1px solid #FCD200;
font-size: 25px;
height: 50px; 
padding: 0 20px; 
text-align: center;
width: 380px; 
font-weight: bold;
color: #0F1111;
}


.subscribe-button:hover {
  background: #F7CA00;
  border-color: #F2C200;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
}

.return-home-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 4px;
  color: #fff;
  background-color: #808080;
  border: none;
  transition: background-color 0.3s ease;
}

.return-home-btn:hover {
  background-color: #a9a9a9;
}
